@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
    box-sizing: border-box;
}

/* Header START  */
.header{
    height: 50px;
    width: 100%;
    font-size: 0px;
    position: fixed;
    background-color: rgba(2, 2, 2, 0.932);
}

.nav_bar{
    width: 80%;
    margin-left: 10%;
}

.logo{
    height: 50px;
    display: inline-block;
    width: 21%;
}

.logo img{
    display: inline-block;
    height: 45px;
    border: 1px solid rgb(170, 170, 66);
    margin-top: 1px;
    background-color: transparent;
}
.nav_links{
    display: inline-block;
    height: 50px;
    font-family: Segoe UI;
    width: 50%;
    vertical-align: top;
    margin-left: 8%;
}
.menu{
    font-size: 0px;
}

.nav_links li{
    display: inline-block;
    list-style: none;
    color: white;
    font-weight: 400;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    width: 20%;
}

/* Banner START */

.banner{
    height: 500px;
    background: url("../Images/banner.jpg");
    background-position-y: 45%;
    background-repeat: no-repeat;
    background-size: cover;    
}

.banner_shade{
    background-color: rgba(141, 138, 138, 0.25);
    width: 100%;
    height: 450px;
}

/* Cuisines START */
.cuisines {
    background-color: #f5eeee;
    padding-bottom: 20px;
}
.cuisines_heading,
.menu_heading,
.social_links {
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
    font-size: 20px;
    font-family: Segeo UI;
    color: #606c38;
}

.whole_cuisines{
    width: 80%;
    margin-left: 10%;
    font-size: 0px;
}

.cuisine_cards{
    display: inline-block;
    width: 32%;
    margin-left: 1%;
    margin-bottom: 1%;
    box-shadow: 0 0 5px gray;
    border-radius: 1.2%;
    overflow: hidden;
}

.cuisine_img{
    width: 100%;
}

.cuisine_img img{
    width: 100%;
}

.cuisine_desc{
    width: 100%;
    font-size: 14px;
    background: transparent;
}

.cuisine_desc h2{
    font-size: 18px;
    text-align: center;
    padding: 7px 0;
    font-weight: 400;
    color: #606c38;
}

.cuisine_desc p{
    padding: 0 5px 10px 5px;
    text-align: justify;
    background: transparent;
}

/* Table Booking START */
.table_booking{
    height: 270px;
    font-size: 0px;
}

.align_tb{
    display: inline-block;
    height: 270px;
    line-height: 270px;
    width: 99%;
    margin-left: 0.5%;
    background: url("../Images/table_booking.jpg");
}

.center_align{
    display: inline-block;
    width: 100%;
}

.email, 
.book_btn {
    display: block;
    margin: 0 auto;
    align-items: center;
}

.email{
    font-size: 16px;
    padding: 8px 0px;
    width: 300px;
    text-indent: 10px;
    outline: none;
    border: none;
    background: transparent;
    background-color: rgba(23, 27, 34, 1);
    color: white;
    margin: 6% 0 2% 38%;
}

::placeholder{
    color: rgba(255, 255, 255, 0.589);
}

.book_btn{
    font-size: 15px;
    padding: 8px;
    width: 120px;
    outline: none;
    border: none;
    background-color: rgba(235, 215, 42, 0.877);
    cursor: pointer;
    font-weight: 700;
    margin: 0 auto;
    color: #606c38;
    border-radius: 3px;
}

.book_btn:hover {
    background-color: rgb(235, 215, 42);
}

/* Dishes START */
.dishes{
    background-color: #f5eeee;
    font-family: Segoe UI;
}

.dish_items{
    width: 99%;
    margin-left: 0.5%;
    font-size: 0px;
}

.dish_cards{
    display: inline-block;
    width: 18%;
    box-shadow: 0 0 10px gray;
    margin-left: 1.6%;
    margin-bottom: 1.6%;
    border-radius: 1.2%;
    overflow: hidden;
}

.dish_img{
    width: 100%;
    font-size: 0px;
    vertical-align: top;
}

.dish_img img{
    width: 100%;
}

.dish_desc > h2{
    font-size: 18px;
    text-align: center;
    padding: 7px 0;
    font-weight: 400;
    color: #606c38;
}

.dish_desc > p{
    padding: 10px 5px 10px 5px;
    text-align: center;
    background: transparent;
    font-size: 13px;
}

.dish_desc a {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 85px;
    background-color: rgba(233, 216, 64, 0.877);
    padding: 4px 0px;
    margin: 0 auto;
    border-radius: 6px;
    color: #606c38;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 13.5px;
}

.dish_desc a:hover {
    background-color: rgb(235, 215, 42);
}

/* About Us START */
.about{
    height: 300px;
    background-color: #f5eeee;
    padding-bottom: 40%;
}

.about_container{
    background-color: #f5eeee;
    margin-bottom: 20px;
}

.about_heading{
    text-align: center;
    padding-bottom: 17px;
    font-weight: 400;
    font-size: 20px;
    font-family: Segeo UI;
    color: #606c38;
}

.about_wrapper{
    width: 60%;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 20%;
    font-size: 0px;
}

.about_pic{
    width: 50%;
    display: inline-block;
}

.about_desc{
    width: 46%;
    display: inline-block;
    vertical-align: top;
    padding: 0.3% 1% 1% 2%;
    text-align: justify;
}

.about_img{
    width: 100%;
    /* height: 300px; */
}

.about_para{
    width: 100%;
    font-size: 15px;
    color: grey;
    font-family: Segoe UI;
    font-weight: 400;
}

/* Social START */
.socials{
    /* height: 95px; */
    text-align: center;
    padding-bottom: 30px;
    background-color: #f5eeee;
}

.social_heading{
    padding-bottom: 30px;
    font-family: 'Dancing Script', cursive;
    color: gray;
    padding-top: 15px;
}

.social{
    display: inline-block;
    width: 5%;
}

.social img{
    width: 30%;
}


/* Footer START */
.footer{
    height: 300px;
}

.footer_container{
    width: 99%;
    margin-left: 0.5%;
    font-size: 0px;
    background-color: #f5eeee;
}

.fs_1{
    display: inline-block;
    width: 60%;
    color: gray;
}

.fs_2{
    display: inline-block;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.footer_wrapper{
    width: 90%;
    font-size: 16px;
    vertical-align: top;
    margin-left: 5%;
}

.fs{
    display: inline-block;
    width: 30%;
    font-size: 0px;
    margin-left: 2.5%;
    vertical-align: top;
}

.fs h3{
    font-size: 15px;
    padding-top:35px;
    padding-bottom: 13px;
}

.list_items{
    list-style: none;
    font-size: 13px;
    line-height: 155%;
    font-weight: 600;
}

.fs_first{
    padding-left: 1px;
}

.fs_2 iframe{
    width: 100%;
    align-items: center;
    margin-top: 35px;
}

